<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css"/>
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
</head>
<body>
<div id="container" class="uk-width-large-7-10 uk-width-medium-1-1 uk-container-center">
    <header>

        <nav class="uk-navbar">
            <img src="{% static 'quiz/images/python_logo.png' %}" class="site_logo" alt="Logo"/>
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'index' %}">Про тест</a></li>
                <li><a href="{% url 'quiz' 'start' %}">Тест</a></li>
                <li><a href="{% url 'useful_links' %}">Корисні лінки</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <hr>
        DebOS (c) 2016
    </footer>
</div>
</body>
</html>