{% extends "quiz/base.html" %}
{% block title %}загальна інфа про тест{% endblock %}

{% block content %}
<pre>
                Тест на знання основ Python
    Даний тест розрахований на бажаючий перевірити свої знання основ мови програмування Python 3.
    Завдання відносяться до наступних категорій:

    Набір  завданнь  складається з 2 завдань по кожній категорії.
    В цілому 20 питань, на які слід відповісти за 15-25 хв.
    Наразі автоматичний контроль часу проходження тесту ще не реалізовано.
    Тест вважається зданим, якщо вірні відповіді дано не менше, ніж на 80% питань.

    Успіхів!
</pre>
{% endblock %}