{% extends "quiz/base.html" %}
{% block title %}загальна інфа про тест{% endblock %}

{% block content %}
<div class="">
    <p class="title ">Тест на знання основ Python</p>
    <div class="uk-text-left">
        Даний тест розрахований на бажаючих перевірити свої знання основ мови програмування Python 3.<br>
        Завдання відносяться до {{categories.length}}-ти наступних категорій:
    </div>
    <ul class="uk-list  uk-list-striped uk-column-1-2 uk-text-left">
        {% for c in categories %}
        <li>{{c.name }} ({{c.number_questions}})</li>
        {% endfor %}
    </ul>
    <div class="uk-text-left">

        Наразі автоматичний контроль часу проходження тесту ще не реалізовано.<br>
        Тест вважається зданим, якщо вірні відповіді дано не менше, ніж на 80% питань.

        <p>Успіхів!</p>
    </div>
</div>
{% endblock %}