{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}
{{info}}
{{current_question_number_in_quiz}}
<hr>
<form action="{% url 'quiz' 'next' %}" method="post">
    {% csrf_token %}
    <h3>Q {{current_question.name}}</h3>
    {% if current_question.code %}
    <h3>Code
        <pre class="code">{{current_question.code}}</pre>
    </h3>
    {% endif %}
    {% for k, v in current_question.list_answers %}
    <h4><input type={{current_question.input_type}} name="user_answer" value={{k}}>{{v}}</h4>
    {% endfor %}
    <input type="submit" value="Записати">
</form>

<hr>
<form action="{% url 'quiz' 'start' %}">
    <input type="submit" value="Припинити тестування">
</form>
<hr>

{% endblock %}