{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}
{{info}}
{{current_question_number_in_quiz}}
<hr>
<form action="{% url 'quiz' 'next' %}" method="post">
    {% csrf_token %}
    <h1>Q {{current_question.name}}</h1>
    <h3>Code
        <pre class="code">{{current_question.code}}</pre>
    </h3>
    {% for k,v in current_question.list_answers %}
    <h4><input type={{current_question.input_type}} name="user_answer" value={{k}}> {{v}}</h4>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

<hr>
<form action="{% url 'quiz' 'finish' %}">
    <input type="submit" value="Cancel Testing">
</form>
<hr>

{% endblock %}