{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}


<p class="title">Інформація про тест</p>

<div class="uk-text-left">
    <div>
    Питання приведені до Python3. Різницю між версіями можна прочитати на
    <a href="https://wiki.python.org/moin/Python2orPython3">wiki.python.org</a>.</div>
    <br>
    В цілому в тесті застосована вибірка з {{ number_questions }} питань, на які бажано відповісти за час до {% widthratio number_questions 1.3 1 %}

 хв.<br>
    Наразі автоматичний контроль часу проходження тесту ще не реалізовано.

</div>
<br><br>
<form action="{% url 'quiz' 'next' %}">
    <input class="uk-button-large" type="submit" value="Перейти до тестування">
</form>

{% endblock %}