{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}


<h2>{{result}}</h2>
<hr><hr>
{% for r, name, correct_answer, user_answer, explanation in answer_r_n_c_u_e %}
<h3>Запитання: {{ name }}</h3>
<h4>Результат: {{ r }}</h4>
{% if not r %}
<h4>Ваша відповідь: {{ user_answer }}</h4>
<h4>Правильна відповідь: {{ correct_answer }}</h4>
<h4>Пояснення: {{ explanation }}</h4>
{% endif %}
<hr>
{% endfor %}
<hr>
quiz_status {{request.session.quiz_status}}
{% endblock %}