{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}


<p class="title">Інформація про тест</p>

<div class="uk-text-left">
    Тест  складається з завдань по кожній категорії.<br>
    В цілому {{ number_questions }} питань, на які слід відповісти за 15-25 хв.<br>
    Наразі автоматичний контроль часу проходження тесту ще не реалізовано.

</div>
<br><br>
<form action="{% url 'quiz' 'next' %}">
    <input class="uk-button-large" type="submit" value="Перейти до тестування">
</form>

{% endblock %}