{% extends "quiz/base.html" %}
{% block title %}результат тесту{% endblock %}

{% block content %}

<div class=" title  ">
    <p>
        Результат тесту:{% for r in result.0%}
        {%if r%}
        <span class="result_answer_true"> T  </span>
        {%else%}
        <span class="result_answer_false">F </span>
        {%endif%}
        {% endfor %}
    </p>
    <p class="uk-text-bold">
        Вірно дано відповідь на {{result.1.0}} із {{result.1.2}} запитань, що складає {{result.1.3}} %. <br>
        Тест {% if result.1.4 %}<span class="result_answer_true"> успішно пройдено{%else%} </span>
        <span class="result_answer_false">не пройдено</span>{%endif%}.<br>
        Час проходження: {{quiz_time}}
    </p>
</div>

{% for r, name, code, answers, correct_answer, user_answer, explanation in questions_answers %}
<div class="{% if forloop.counter|divisibleby:2 %} result_line_even {% else %} result_line_odd {% endif %} ">
    <h4>
        Запитання: {{ name }}<br>
        <span class="{%if not r%} result_answer_false  {%else%} result_answer_true {%endif%}">
            Ваша відповідь:{%if r%}  вірна {%else%}  невірна{%endif%}
        </span>
    </h4>
    {% if code %}
    <div>
        <pre class="code">{{code}}</pre>
    </div>
    {% endif %}
    {% if not r %}
    <div>Правильна відповідь:
        {% for i in answers %}
        <div class="uk-text-bold">
            <span class="{%if i.1 not in correct_answer%} result_answer_false text_deleted {%else%} result_answer_true {%endif%}">
                {{i.1}}
            </span>
        </div>
        {% endfor %}
    </div>
    <div>Пояснення: {{ explanation }}</div>
    {% endif %}
</div>
{% endfor %}
<hr>

{% endblock %}