{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}


<h3>{{result}}</h3>
<hr>
<hr>
{% for r, name, code, correct_answer, user_answer, explanation in questions_answers %}
<h4>Запитання: {{ name }}</h4>
    {% if code %}
    <h3>Code
        <pre class="code">{{code}}</pre>
    </h3>
    {% endif %}
<p>Результат: {{ r }}</p>
{% if not r %}
<p>Ваша відповідь: {{ user_answer }}</p>
<p>Правильна відповідь:
    {% for i in correct_answer %}
    <p>{{i}}</p>
    {% endfor %}
</p>
<p>Пояснення: {{ explanation }}</p>
{% endif %}
<hr>
{% endfor %}
<hr>
quiz_status {{request.session.quiz_status}}
{% endblock %}