{% extends "quiz/base.html" %}
{% block title %}власне сам тест{% endblock %}

{% block content %}


<p class="title">Інформація про тест</p>

<div class="uk-text-left">
    <div>
        Питання приведені до Python3. Різницю між версіями можна прочитати на
        <a href="https://wiki.python.org/moin/Python2orPython3">wiki.python.org</a>.
    </div>
    <br>
    В цілому в тесті застосована вибірка з {{ number_questions }} питань, на які бажано відповісти за час до
    {% widthratio number_questions 1 1 %} хв.<br>

</div>
<br><br>
<form action="{% url 'quiz_process' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next_question" value="0" readonly>
    <input class="uk-button-large" type="submit" value="Перейти до тестування">
</form>

{% endblock %}